.back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 9px;
    background-color: var(--primary-color);
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.3s ease;
    z-index: 1000;
    padding: 0;
  }
  
  .back-to-top-button:hover {
    opacity: 1;
    border: 2px solid var(--light-text-color);
  }
  .back-to-top-button svg{
    fill: var(--white);
    width: 24px;
    height: 24px;
  }
  
  /* You can add more styles as needed */
  